.form {
  max-width: 736px;
  width: 100%;
  display: flex;
  gap: 8px;
  transform: translateY(-50%);
}

.input {
  background: var(--gray-500);
  color: var(--gray-100);
  border: 0;
  border-radius: 8px;
  padding: 1rem;
  flex: 1;
}

.input::placeholder {
  color: var(--gray-300);
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 1rem;
  border: 0;
  border-radius: 8px;
  background: var(--blue-dark);
  color: var(--gray-100);
}

.button:hover {
  background: var(--blue);
}
